<div class="three-dot-spinner">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>
<div class="rect">
</div>
<div>
  <button onclick="document.querySelector('.rect').classList.toggle('paused');">
    Puase
  </button>
</div>