<div class="child"id =child></div>
<div id="margin">
  <div></div>
</div>
<!--<script>-->
<!--    const child = document.querySelector('.child');-->
<!--    const cb = function (entries,observer){-->
<!--        entries.forEach(entry => {-->
<!--            if (entry.isIntersecting) {-->
<!--                console.log('inview')-->
<!--                entry.target.classList.add('inview');-->
<!--            } else {-->
<!--                console.log('out view')-->
<!--                entry.target.classList.remove('inview');-->
<!--            }-->
<!--        });-->
<!--    }-->
<!--    const io = new IntersectionObserver(cb);-->
<!--    io.observe(child);-->
<!--</script>-->