<section>

  <div class="animate-title">Start where you are.</div>

</section>
<section>

  <div class="animate-title">Use what you have.</div>

</section>
<section>

  <div class="animate-title">Do what you can.</div>

</section>